<span ng-show="!editMode" ng-bind="clickToEditConfig.value"></span>
<input ng-show="editMode" type="text" ng-model="clickToEditConfig.value" />
<a ng-show="!editMode" ng-click="editMode = true"><i class="fa fa-pencil fa-fw"></i> Edit</a>
<a ng-show="editMode" ng-click="saveValue(clickToEditConfig.value)"><i class="fa fa-floppy-o"></i> Save</a>
<a ng-show="editMode" ng-click="discardValue()"><i class="fa fa-trash-o"></i> Discard</a>
<i ng-show="resolvingData" class="fa fa-cog fa-spin"></i>
<div class="form-group has-error" ng-show="errorMessage"><span class="help-block">{{errorMessage}}</span></div>